.gif-rating {
  margin: 0px;

}

.giffer {
  /* border: 1px solid red; */
  border-radius: 25px;
  margin: 0px;
  opacity: 1;
  max-width: 300px;
  height: 200px;
  margin-bottom:45px;
}

.title {
  margin:0;
  font-size:3em;
  font-family: 'Miltonian', cursive;
  background-color: #08B2E3;
  height: 75px;
  color: #EFE9F4;
  padding-top: 10px;
}
#searchText::placeholder{
  color:white;
  opacity: .25;
}

#searchText {
  font-family: 'Bangers', cursive;
  font-size: 2.25em;
  color:white;
  background-color: #08B2E3;
  border: none;
  border-bottom: 2px solid gray;

}

#searchText:active {
  text-decoration: none;

}

.userInput {
  background-color: #08B2E3;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 8px 14px darkgray;
}

.buttonDisp{
  margin-top:25px;
  margin-bottom:25px;
}

.gif-button{
  font-family: 'Henny Penny', cursive;
  background-color: #58db98; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;

}

.gif-button:hover{
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white; 
  color: #176e41;

}


/* 
font-family: 'Trade Winds', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Sarina', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Chango', cursive;
font-family: 'Geostar Fill', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Bangers', cursive;
 */
